body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,;
    background: #b9b6b6;
    color: rgb(246, 255, 127);
    font-size: 20px ;
}
.cabecera{
    position: sticky;
    top: 0;
    background: #b9b6b6;
    padding: 15px 0;
    z-index: 1000;
    border-bottom: 1px solid #f2ff00;
    box-shadow: 0 4px 15px rgba(238, 255, 0, 0.79);
}

.barra-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para la targeta de bootstrap */
.card{
    width: 100%;
    background: rgba(238, 255, 4, 0.585);
    font-size: 10px ;  
    border: 2px solid rgb(255, 209, 2); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.526)
  
} 

@media (max-width: 768px){
    .barra-navegacion{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .enlace-navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        width: 100%;
    }

    .enlace-navegacion a{
        /* display: block;
        width: 100%; */
        color: #f2ff00;
    }
}

/* MODO OSCURO */

.dark-mode{
    background:#111;
    color:white;
}

/* HEADER */

.dark-mode .cabecera{
    background:#1b1b1b;
    border-bottom:1px solid #444;
}

/* CARD */

.dark-mode .card{
    background:#222;
    color:white;
    border:1px solid #555;
}

/* TEXTAREA */

.dark-mode textarea{
    background:#333;
    color:white;
    border:none;
}

/* LINKS */

.dark-mode a{
    color:white;
}

/* PANTALLA COMPLETA */

.pantalla-completa{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:40px;
}

/* CARD CENTRAL */

.experiencia-card{

    width:100%;
    max-width:900px;

    border-radius:25px;

    padding:50px;

    backdrop-filter: blur(10px);
}

/* TITULO */

.titulo{
    font-size:3rem;
    font-weight:bold;
}

/* TEXTAREA */

textarea{
    min-height:220px;
    font-size:18px;
    resize:none;
}

/* RESULTADO */

.resultado{
    font-size:1.3rem;
}
html{
    scroll-behavior:smooth;
}

.logo{
    text-decoration:none;
    font-size:28px;
    font-weight:bold;
    color:#f2ff00;
}

.logo span{
    color:white;
}

.enlace-navegacion{
    display:flex;
    align-items:center;
    gap:20px;
}

.enlace-navegacion a{
    text-decoration:none;
    color:#f2ff00;
    font-weight:bold;
}

.hero{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:50px;
}

.hero-contenido{
    max-width:900px;
}

.hero h1{
    font-size:5rem;
    margin-bottom:25px;
}

.hero p{
    font-size:1.4rem;
    line-height:1.8;
    margin-bottom:40px;
}

.seccion-fases{
    padding:120px 40px;
}

.fase-card{
    height:100%;
    border-radius:20px;
    transition:0.3s;
}

.fase-card:hover{
    transform:translateY(-10px);
}